
body {
    font-size: 16px;
    text-align: center;
    background: #00ECB9;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.45;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

.home {
    font-size: 20px;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-g-center > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    align-content: center;
    padding: 30px;
}

.pure-u-center {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.l-box {
    padding: 1em;
}

.bell-label {
    text-align: center;
    font-weight: bold;
}

.page-relax {
    background: url("../img/beach.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-positive {
    background: url("../img/sky.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.relax-text {
    text-align: center;
    color: #FEFEFE;
    font-size: 16px;
    line-height: 1.45;
    background: rgba(34, 34, 34, 0.5);
    position: relative;
    margin-top: 20%;
    /*padding: 10px;*/
    width: 100%;
}

.positive-list {
    text-align: center;
    color: #FEFEFE;
    font-size: 16px;
    line-height: 1.45;
    background: rgba(34, 34, 34, 0.5);
    /*padding: 20px;*/
    position: relative;
    margin-top: 10%;
    width: 100%;
    z-index: -3;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 60px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.audiojs {
    width: 300px;

    /*height: 22px;*/
/*background: #404040;*/
/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));*/
/*background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);*/
/*-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);*/
/*-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);*/
/*-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);*/
/*box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);*/
}

/*.audiojs .play-pause {*/
/*width: 15px;*/
/*height: 20px;*/
/*padding: 0px 8px 0px 0px;*/
/*}*/

/*.audiojs p {*/
/*width: 25px;*/
/*height: 20px;*/
/*margin: -3px 0px 0px -1px;*/
/*}*/

.audiojs .scrubber {
    background: #5a5a5a;
    width: 245px;
    height: 20px;
    margin: 7px;
}

/*.audiojs .progress {*/
/*height: 10px;*/
/*width: 0px;*/
/*background: #ccc;*/
/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));*/
/*background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%);*/
/*}*/

/*.audiojs .loaded {*/
/*height: 10px;*/
/*background: #000;*/
/*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));*/
/*background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%);*/
/*}*/

.audiojs .time {
/*float: left;*/
/*height: 25px;*/
/*line-height: 25px;*/
    display: none;
}

/*.audiojs .error-message {*/
/*height: 24px;*/
/*line-height: 24px;*/
/*}*/

.track-details {
    clear: both;
    height: 20px;
    width: 300px;
    /*padding: 0px 6px;*/
    background: #eee;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.track-details em {
    font-style: normal;
    color: #999;
}
